### Stack Exchange Data Dump Releases

[ea45080eab61ab465f647e6366f775bf25f69a61]
name: 2009-05May Stack Exchange Data Dump
tags: stackexchange.com
comments:
  .7z data mis-identified as .zip in torrent
  [blog post](http://liveweb.archive.org/web/20090611145537/http://blog.stackoverflow.com/2009/06/stack-overflow-creative-commons-data-dump)

[68d22f0f856ca5056e009ac53597a66c0cb03068]
name: 2009-06Jun Stack Exchange Data Dump
tags: stackexchange.com
comments:
  [blog post](http://liveweb.archive.org/web/20090611145537/http://blog.stackoverflow.com/2009/06/stack-overflow-creative-commons-data-dump)

[2dca38c1c9724462ad4cedb42a1569805ab80f0c]
name: 2009-07Jul Stack Exchange Data Dump
tags: stackexchange.com
comments:
  [blog post](http://liveweb.archive.org/web/20090709135537/http://blog.stackoverflow.com/2009/07/creative-commons-data-dump-july-09/)

[d348861b6d72c280f299e03fe9f9e8f3258eff19]
name: 2009-08Aug Stack Exchange Data Dump
tags: stackexchange.com
comments:
  initial release
  [blog post](http://liveweb.archive.org/web/20100723003527/http://blog.stackoverflow.com/2009/08/creative-commons-data-dump-aug-09/)

[f6ec47fba06823e22ede500511ab7c60ceddd91d]
name: 2009-08Aug Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  re-release on LegalTorrents
  [blog post](http://liveweb.archive.org/web/20100723003527/http://blog.stackoverflow.com/2009/08/creative-commons-data-dump-aug-09/)

[395bb1a89607fa05a9774bd7683eb3b6052989f7]
name: 2009-09Sep Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20091107195235/http://blog.stackoverflow.com/2009/09/creative-commons-data-dump-sep-09/)

[61b882a518f21344ca82d4632f89a1dcafcbd3ed]
name: 2009-10Oct Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20091014190329/http://blog.stackoverflow.com/2009/10/creative-commons-data-dump-oct-09)

[107f674c9b6a481eef7c81910228bc773246035b]
name: 2009-11Nov Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20101114080034/http://blog.stackoverflow.com/2009/11/creative-commons-data-dump-nov-09/)

[11a2a48f204497f4222ff5edaf790f1d38a651fe]
name: 2009-12Dec Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20100308032107/http://blog.stackoverflow.com/2009/12/creative-commons-data-dump-dec-09/)

[5127f67fb6099d322b6467bd85a1363fe8a73c3f]
name: 2010-01Jan Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20101127005212/http://blog.stackoverflow.com/2010/01/creative-commons-data-dump-jan-10)

[cec670fa3c54bf8403bef2d0801a6f9478fb2c68]
name: 2010-02Feb Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20100408002215/http://blog.stackoverflow.com/2010/02/creative-commons-data-dump-feb-10/)

[a790a8ab30f91c344c5b400579acd5643b2bb25c]
name: 2010-03Mar Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20100926214909/http://blog.stackoverflow.com/2010/03/creative-commons-data-dump-mar-10/)

[53adea3f9acb1972201f059604c4bdad5e3e0a8c]
name: 2010-04Apr Stack Exchange Data Dump
tags: stackexchange.com clearbits.net
comments:
  [blog post](http://liveweb.archive.org/web/20100812014035/http://blog.stackoverflow.com/2010/04/creative-commons-data-dump-apr-10/)

[f318086e65e7873d1a44de07e6d3ef4de0da0004]
name: 2010-05May Stack Exchange Data Dump
tags: stackexchange.com clearbits.net
comments:
  mis-identified as June in torrent
  [blog post](http://liveweb.archive.org/web/20101104093225/http://blog.stackoverflow.com/2010/05/creative-commons-data-dump-may-10/)

[2c802d003e59f84776a40b361584e1125d4eb877]
name: 2010-06Jun Stack Exchange Data Dump
tags: stackexchange.com clearbits.net
comments:
  [blog post](http://liveweb.archive.org/web/20101212205817/http://blog.stackoverflow.com/2010/06/creative-commons-data-dump-jun-10/)

[fe29a5a7278960002cae679024f0175db3e470f1]
name: 2010-07Jul Stack Exchange Data Dump
tags: stackexchange.com clearbits.net
comments:
  [blog post](http://liveweb.archive.org/web/20101108003200/http://blog.stackoverflow.com/2010/07/creative-commons-data-dump-jul-10/)

[53c3bf7f3b2ba1675acf3ac21bbaf84c63ca94c7]
name: 2010-08Aug Stack Exchange Data Dump
tags: stackexchange.com clearbits.net

[8f5c7a0bac4f5ee27b7cd7a1c179ba0ba66eb847]
name: 2010-09Sep Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[b549412a5e8aa70421756f0348f8063638994114]
name: 2010-10Oct Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[f26b0ae2b975254676a02bdfb0fd4b7f6f78b951]
name: 2010-11Nov Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://liveweb.archive.org/web/20101203005658/http://blog.stackoverflow.com/2010/11/creative-commons-data-dump-nov-10/)

[16e7c2867f7b5be3d7dbe7c3f707601b16c5f2c5]
name: 2011-01Jan Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://blog.stackoverflow.com/2011/01/creative-commons-data-dump-jan-11/)

[ec636f7edc262053429653edfdf47e806f14e72f]
name: 2011-04Apr Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[cdb37ea243e09fcaf54e6b7f19764765a706724c]
name: 2011-06Jun Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[64d052f755e01d1c947848ad3d22180476a71a94]
name: 2011-09Sep Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com
comments:
  [blog post](http://blog.stackoverflow.com/2011/09/creative-commons-data-dump-sep-11/)

[77ccfd3451c442590bf5bd940362a121a16ee5a3]
name: 2011-12Dec Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[ccb07610f73f994b15399acdd507778dce964111]
name: 2011-12Dec Stack Exchange Data Dump [Update]
tags: stackexchange.com legaltorrents.com

[de13c16eb98bc8e95a77ed7e0ff6953d60bf90ba]
name: 2011-12Dec Stack Exchange Data Dump [Update 2]
tags: stackexchange.com legaltorrents.com

[c0ecc66e8f1d630cbcd39bf523b3381a7779daa3]
name: 2012-04Apr Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[ecf5ec6d0a2a3a5b582b1ef684a5fe4552ff1c8b]
name: 2012-08Aug Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[b06fff722ce06520b59a9db72cab9f7d008ff8c3]
name: 2012-08Aug Stack Exchange Data Dump [Meta]
tags: stackexchange.com legaltorrents.com

[47e02c81368acd9fa0f884439c00fa8439ef971f]
name: 2013-03Mar Stack Exchange Data Dump
tags: stackexchange.com legaltorrents.com

[cc28f62bb9eb1da79ca2a782960f86f64d8ceb87]
name: 2014-01Jan Stack Exchange Data Dump
tags: stackexchange.com archive.org
comments:
  [blog post](http://blog.stackoverflow.com/2014/01/stack-exchange-cc-data-now-hosted-by-the-internet-archive/)

[28ac80e1e341fbfe710bccd64b04c3ec8df30979]
name: 2014-05May Stack Exchange Data Dump
tags: stackexchange.com archive.org

[b1a458cba5af9525d4012c20f9c51b35a15f0984]
name: 2014-09Sep Stack Exchange Data Dump
tags: stackexchange.com archive.org
comments:
  [meta post](http://meta.stackexchange.com/questions/240139/stack-exchange-september-2014-data-dump-is-available)

